/* * {
  border: 1px solid red;
  outline: 1px solid red;
  box-sizing: border-box;
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color-scheme: dark;
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --nav-background-color: #141414; 
  --card-and-cell-fill: #1a1a1a;
  --card-name-bg: #383838;
  --card-border: #464646;
  --card-shadow: #C11732;
  --search-bg: #2b2a33;
  --search-placeholder: #aaa;
  --border-gray: #aaa;
  --even-row: #202020;
  --cell-hover: #383838;
  --section-divider: #ccc;
  --gray-text: #6e6e6e;



  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #333333;
    --background-color: #f8f9fa;
    --nav-background-color: #979797; 
    --card-and-cell-fill: #acacac;
    --card-name-bg: #e2e2e2;
    --card-border: #bdbdbd;
    --card-shadow: #C11732;
    --search-bg: #f3f3f3;
    --search-placeholder: #242424;
    --border-gray: #aaa;
    --even-row: #e7e7e7;
    --cell-hover: #bebebe;
    --section-divider: #4d4d4d;
    --gray-text: #6e6e6e;

    color: var(--text-color);
    background-color: var(--background-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.page-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex: 1;
}

.app-div {
  display: flex;
  flex-direction: column;
  padding-top: 3.5em;
}

.navbar-div {
  width: 100vw;
  height: 60px;
  background-color: var(--nav-background-color);
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 70%;
  width: auto;
  object-fit: contain;
  padding-right: 20px;
}

.navbar-div:hover {
  cursor: pointer;
}

.roster-div {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 4.5rem;
}

.character-card {
  border-radius: .50rem;
  fill: var(--card-and-cell-fill);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 16px;
  width: 5.6rem;
  max-width: 90%;
  height: 89%;
  max-height: 89%;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 2px solid var(--card-border);
}

@media (max-width: 430px) {
  .character-card {
    width: 4.5rem;
    max-width: 70%;
    height: 79%;
    max-height: 89%;
  }
}

.card-img {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center; 
  overflow: hidden;
  border-radius: .50rem;
  position: relative;
}

.card-img img {
  width: 72px;
  height: 88px;
  object-fit: contain;
  object-position: 50% 60%;
  transform: scale(1.6);
  z-index: 0;
}

.card-name {
  height: 40px;
  z-index: 1;
  background-color: var(--card-name-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.character-card:hover {
  box-shadow: 0 8px 16px var(--card-shadow);
  transform: scale(1.15);
  cursor: pointer;
}


.character-title {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.character-title img {
  border-radius: 1.5rem;
  padding: 16px;
}

.character-name-and-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.char-name {
  margin: 0;
}

.char-type {
  margin: 0;
  white-space: nowrap;
  font-size: 0.8em;
  color: #666;
  position: absolute;
  top: 100%;
  left: 0%;
}

.characternav-div {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  box-shadow: 0 10px 16px rgba(3, 3, 3, 0.1);
  color: var(--text-color);
}

.nav-link {
  text-decoration: none;
  padding: 10px 40px;
  margin: 0 10px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  filter: opacity(0.5);
  color: var(--text-color);
  transition: color 0.3s ease, border-bottom 0.3s ease filter 0.3s ease-in-out;
}

.nav-link:hover {
  filter: opacity(1.4);
  color: var(--text-color);
}

.active-link {
  filter: opacity(1);
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

@media (max-width: 430px) {
  .characternav-div {
    padding: 30px 0;
  }

  .nav-link{
    padding: 0px 0px;
  }
}

/* ################################################ Character Frame Data ################################################ */


.character-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  padding-bottom: 4.5rem;
}

.fd-loading {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100rem;  /* To hide footer, maybe a better option is available */
}

.fd-loading-spin {
  padding: 2rem;
  min-height: 30px;
}

@media (max-width: 430px) {
  .fd-loading-spin {
    height: auto;
    width: 30px;
  }
}

.fd-loading-emote {
  max-height: 80px;
  width: auto;
  object-fit: contain;
}

.table-arrow-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/* .fd-arrow-back {
  position: absolute;
  left: -80px;
  z-index: 10;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 10px;
  display: inline-block;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
} */

/* .fd-arrow-back:hover {
  cursor: pointer;
  filter: brightness(250%);
  transform: translateX(4) scale(1.5);
} */

/* @media (max-width: 1700px) {
  .fd-arrow-back {
    left: -40px;
    padding-left: 20px; 
    padding-right: 10px;
  }
} */

.fd-search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  max-width: 1980px;
}

.fd-table-search {
  display: inline-block;
}

.fd-table-search input {
  padding: 10px 20px;
  font-size: 1rem;
  border: 0.2px solid var(--border-gray);
  border-radius: 65px;
  outline: none;
  transition: all 0.3s ease;
  background-color: var(--search-bg);
  color: var(--text-color);
}

.fd-table-search input::placeholder {
  color: var(--search-placeholder);
}

.fd-table-search input:focus {
  border-color: #007BFF; 
  box-shadow: 0 2px 5px rgba(0, 123, 255, 0.3); 
}

.table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.fd-table-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow-x: scroll;
}

.fd-table {
  border-collapse: collapse; 
  table-layout: auto;
  width: 100%;
  vertical-align:top;
  border-spacing:0;
  box-sizing:border-box;
  height:0;
}

.fd-table th,
.fd-table td {
  padding: 8px 8px;
  text-align: left; 
  box-sizing: border-box;
  text-align:left;
  width: 11.11%;
}

.fd-table td:nth-last-child(2), 
.fd-table th:nth-last-child(2) {
  white-space: nowrap;
  width: 1%;
}

.fd-table td:last-child, 
.fd-table th:last-child {
  width: auto;
}

.fd-table thead th {
  background-color: var(--card-and-cell-fill); 
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.fd-table tr:nth-child(even) {
  background-color: var(--even-row); 
}

.fd-table-body tr:hover {
  background-color: var(--cell-hover);
}

@media (max-width: 830px) {
  .fd-table th,
  .fd-table td  {
    font-size: 12px;
  }
}

/* Notes lists */
.fd-table td ul {
  padding-left: 20px;
  margin: 0;
}

.fd-table td li {
  list-style-type: disc;
}

.combined-cell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0.1em;
  padding-left: 0.2em;
  text-align: start;
  height: 100%;
}

.input-row {
  margin-left: 0.5em;
  text-indent: -0.5em;
  width: 100%;
  white-space: nowrap;
  font-size: 1.2em;
  font-weight: bold;
}

.name-row {
  width: 100%;
  white-space: nowrap;
  font-size: 0.8em;
  color: #666;
}

.plusoB {
  color: rgb(24, 143, 255);
}

.punishable {
  color: rgb(255, 94, 94);
}

.launch {
  color: rgb(207, 4, 4);
}

.safe {
  color: inherit;
}

/* ################################################ Character Punishment ################################################ */

.punishers-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4.5rem;
  max-width: 546px;
}

.punisher-table-div {
  overflow-x: auto;
}

.punisher-table-div table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0.8rem;
}

.punisher-table-div td {
  border-width: 0.1rem 0 0.1rem 0;
  border-color: var(--section-divider);
  border-style: solid;
  padding: 0.5rem;
  text-align: center;
}

.info-icon {
  margin-left: 0.4rem;
  filter: opacity(0.5);
  transition: filter 0.2s ease-in-out
}

.punisher-table-div td:hover .info-icon{
  filter: opacity(0.8);
}

.punishers-info {
  display: flex;
  justify-content: center;
}

.punishers-info p{
  margin-top: 40px;
  max-width: 500px;
  word-wrap: break-word;
  color: var(--gray-text);
}

  /* Tooltip */
.tooltip-custom{
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1 !important;
}

@media (max-width: 430px) {
  .tooltip-custom{
    max-width: 250px !important;
    word-wrap: break-word !important;
    white-space: normal !important;
  }
}

@media (max-width: 430px) {
  .punishers-info p {
    max-width: 50%;
  }
}

/* ################################################ Character Resources ################################################ */

.resources-div {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  padding-bottom: 4.5rem;
  max-width: 546px;
}

.resources-sections-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resources-sections-div h3 {
  text-align: left;
  font-weight: bold;
}

.section-divider {
  height: 2px; 
  background-color: var(--section-divider); 
  margin: 10px 0; 
}

.resource-card {
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  transition: box-shadow 0.3s ease;
}

.resource-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.resource-link {
  color: #007bff;
  text-decoration: none; 
  font-weight: bold;
}

.resource-link:hover {
  text-decoration: underline;
}

.resources-discord-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.resources-youtube-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.resources-docs-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.youtube-player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* ############################################################ Features ############################################################*/

.features {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 4.5rem;
}

/* ############################################################ Credits ############################################################*/

.credits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 545px;
  padding-bottom: 4.5rem;
}

/* ############################################################ Footer ############################################################*/

.footer {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--nav-background-color);
  margin-top: auto;
  flex-shrink: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0;
  max-width: 546px;
}

.footer-column {
  flex: 1;
  padding: 10px;
  min-width: 250px;
  align-items: left;
}

.footer-column p, .footer-column ul, .footer-column ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column .links {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-column .links li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-column .links li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  flex-wrap: wrap;
  text-wrap: balance;
  color: #ffffff; 
}


/* ############################################################ Mobile ############################################################*/

@media (max-width: 1000px) {
  .hide-on-mobile {
    display: none;
  }
}

